:root {
    /* --- Header --- */
    /* Header 색상 */
    --color-white: #ffffff;
    --color-gray-light: #e5e7eb;
    --color-primary-dark: #1f2937;
    
    /* 간격 */
    --spacing-header-padding: 16px 24px;

    /* 폰트 크기 */
    --font-size-logo: 1.25rem;

    /* 그림자 */
    --shadow-default: 0 2px 4px rgba(0, 0, 0, 0.05);


    /* --- PlaceBlock --- */
    /* PlaceBlock 색상 */
    --color-gray-lightest: #f8f8f8;
    --color-gray-dark: #4b5563;
    --color-gray-medium: #6b7280;
    --color-red-primary: #ef4444;
    --color-text-dark: #333333;

    /* 폰트 크기 */
    --font-size-title: 1rem;
    --font-size-address: 0.8rem;
    --font-size-like: 0.7rem;
    --font-size-category: 0.7rem;


    /* --- LoginModal --- */
    /* LoginModal 색상 */
    --color-kakao-yellow: #ffe812
}